<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/imagenes/logo.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <title>Face To Face</title>
</head>

<body>
    <header>
        <div class="divHeader">
            <div class="divLogoTitulo">
                <div class="divTitulo">
                    <div class="faceToFaceLogo">
                        <img src="/imagenes/logo.png" alt="">
                    </div>
                    <div>
                        <h1>Face To Face</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="divMenuPerfil">
            <div class="seleccionado divPerfil">
                <a href="/usuario/perfil">Perfil</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/usuario/amigos">Amigos</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/pregunta/preguntas">Preguntas</a>
            </div>
            <div class="seleccionado divPerfil">
                <a href="/usuario/logout">Desconectarse</a>
            </div>
            <div class="divPerfil">
                <div class="divFotoPerfil"><img src="/usuario/imagenUsuario/<%=usuarioLogueado.FOTO%>" alt=""></div>
                <div class="divDatos"><%=usuarioLogueado.PUNTOS + " puntos"%></div>
            </div>
        </div>
    </header>
    <main>
        <div class="divMain">
            <div>
                <h2>Perfil de <%=datos.usuario.NOMBRE%></h2>
            </div>
            <div class="contenedorPerfil">
                <div class="divDatosPerfil">
                    <div>
                        <img src="/usuario/imagenUsuario/<%=datos.usuario.FOTO%>" alt="">
                    </div>
                    <div class="info">
                        <ul>
                            <li><%=datos.usuario.NOMBRE%></li>
                            <%if(datos.edad != null) {%>
                            <li><%=datos.edad + " años"%></li>
                            <%}%>
                            <li><%=datos.usuario.GENERO%></li>
                            <li><%=datos.usuario.PUNTOS + " puntos"%></li>
                        </ul>
                    </div>
                </div>
                <%if(datos.amigo == "false") { %>
                <div class="center"> <a href="/usuario/solicitar/<%= datos.usuario.CORREO%>"
                        class="boton seleccionado">Solicitar amistad</a></div>
                <%}%>
            </div>
        </div>
    </main>

</body>

</html>